%table{:id => 'sortable-table',:class => "table table-striped table-hover table-bordered boo-table"}
	%caption
		Clients
	%thead
		%th
			Action
		%th{:scope => 'col'}
			Name
		%th
			Topics/Groups
		%th
			Review URL's

	-@clients.each do |client|
		%tr{:class => "client-#{client.id}"}
			%td
				.btn-group
					=link_to content_tag(:i,'',:class => 'fontello-icon-pencil-1') +' Edit', edit_admin_client_path(client) , :class => 'fboxForm fancybox.ajax btn btn-mini btn-yellow'
					=link_to content_tag(:i,'',:class => 'fontello-icon-trash-4') +' Delete', admin_client_path(client),  data: { confirm: 'Are you sure?' }, :method => :delete, :class => "btn btn-mini btn-danger"

			%td
				=client.name
			%td
				-client.topics.each do |topic|

					-if topic.name
						=link_to topic.name, admin_topic_path(topic)

						-if topic.groups.present?
							%strong
								Groups
							\:
							=topic.groups.map{|g| g.name}.join(", ").html_safe
							%br/
			%td
				-if client.topics.count > 0
					=link_to "Create New Review URL", new_admin_review_path(:client_id => client.id), :class => "fboxForm fancybox.ajax btn btn-primary btn-mini"
					%hr
					-client.reviews.each do |review|
						=link_to "#{request.protocol + request.host}/reviews/#{review.url}","#{request.protocol + request.host}/reviews/#{review.url}", :target => "_blank"
						=link_to "Edit topics included in URL", edit_admin_review_path(review), :class => "fboxForm fancybox.ajax btn btn-green btn-mini"
				-else
					No topics created for client.


