-if params[:slider_id]
	-slider = params[:slider_id]
	-type = "New Slide"
-else
	-slider = @slide.slider_id
	-type = "Edit Slide"

=content_for :page_title do 
	%h2
		=type

.widget.widget-simple
	.widget-header
		%h4
			%i.fontello-icon-cog-alt
			Slide
			%small
				settings
		=link_to content_tag(:i, '' , :class => 'fontello-icon-code-1') + " Custom HTML settings", '#', :class => 'custom-html-link pull-right btn btn-mini btn-yellow'
	.widget-content.margin-ss
		=form_for [:admin, @slide] do |f|
			%div{:class => 'slide-settings'}
				=render :partial => 'admin/slides/custom_html', :locals => { :f => f, :slide => @slide}

			=render 'shared/error_messages', :object => f.object 

			=f.hidden_field :slider_id, :value => slider
			=f.hidden_field :image_id

			%div{:class => "slider-image"}								
				-if controller.action_name == 'new'
					-if @slider.effectType == '3D'
						%div{:id => "image-placeholder", :style => "overflow:hidden; border: 1px solid #DDD; background: #CCC; width : #{@slider.imageWidth - 50}px; height: #{@slider.imageHeight - 50}px;" }
					-else
						%div{:id => "image-placeholder", :style => "overflow:hidden; border: 1px solid #DDD; background: #CCC;width : #{@slider.imageWidth}px; height: #{@slider.imageHeight}px;" }
				-else
					-if @slider.effectType == '3D'
						%div{:id => "image-placeholder", :style => "overflow:hidden; border: 1px solid #DDD; background: #CCC; width : #{@slider.imageWidth - 50}px; height: #{@slider.imageHeight - 50}px;" }
							=image_tag @slide.image.image_url()
					-else
						%div{:id => "image-placeholder", :style => "overflow:hidden; border: 1px solid #DDD; background: #CCC;width : #{@slider.imageWidth}px; height: #{@slider.imageHeight}px;" }
							=image_tag @slide.image.image_url()

				-if controller.action_name == 'new'
					%div{:class => 'custom-html'}
						%div{:class => 'header-text' }
							%p{:id => "header_#{@slide.id}"}
								=@slide.header
								test
						%div{:class => 'slider-content',  }
							%p{:id => "content_#{@slide.id}"}
								=@slide.content

						%div{:class => 'link-one'}
							=link_to "Link 1 Title", "#", :class => 'btn', :id => "link_1_title_#{@slide.id}"
						%div{:class => 'link-two'}
							=link_to "Link 2 Title", "#", :class => 'btn',:id => "link_2_title_#{@slide.id}"
				-else
					-# needs to be checked, used for /slides/id/edit
					%div{:class => 'custom-html'}
						%div{:class => 'header-text', :style => "top : #{@slide.header_top}px; left: #{@slide.header_left}px;width: #{@slide.header_width}%; color: ##{@slide.header_color};" }
							%p{:id => "header_#{@slide.id}"}
								=@slide.header
								test
						%div{:class => 'slider-content', :style => "top : #{@slide.content_top}px; left: #{@slide.content_left}px; width: #{@slide.content_width}px; color: ##{@slide.content_color};" }
							%p{:id => "content_#{@slide.id}"}
								=@slide.content

						%div{:class => 'link-one', :style => "top : #{@slide.link_1_top}px; left: #{@slide.link_1_left}px;" }
							=link_to @slide.link_1_title, "#", :class => 'btn', :id => "link_1_title_#{@slide.id}"
						%div{:class => 'link-two', :style => "top : #{@slide.link_2_top}px; left: #{@slide.link_2_left}px;" }
							=link_to @slide.link_2_title, "#", :class => 'btn',:id => "link_2_title_#{@slide.id}"
			=f.submit "Submit", :class=>'btn btn-primary margin-ss'

		%hr.margin-ss
		%h5 
			%i.fontello-icon-picture
			Image for content
		%div{:id => 'slideshow_image'}
			=render 'slideshow_image'
