%ul{:id => "container-#{collection.id}", :class => "audio-playlist"}
  -if collection.settings['categories'] == '0'
    -assets = collection.settings['asset_ids'].split(",").map { |s| s.to_i }
    -assets.each do |audio|
      -asset = Audio.find_by_id(audio)
      -if asset
        -asset_cats = asset.categories.map {|ac| ac.name }
        %li
          %audio{:id => "player#{asset.id}", :src => "#{asset.audio.to_s}", :controls => "controls"}
          .audio-title
            =asset.title
          .audio-description
            =asset.description

  -if collection.settings['categories'] == '1' 
    -audios = Set.new
    -cats = Array.new
    -collection.categories.each do |col_cat|
      -cats << col_cat.id
   
    -Category.where(:id => cats).each do |cat|
      -cat.audios.each do |audio|
        -audios << audio
    -audios.each do |audio|
      %li
        %audio{:id => "player#{audio.id}", :src => "#{audio.audio.to_s}", :controls => "controls"}
        .audio-title
          =audio.title
        .audio-description
          =audio.description