.tabbable 
  %ul.nav.nav-tabs
    -seleted = copy.alternates.map{|a| a.selected == true}
    -copy.alternates.where(:is_duplicate => "true").each_with_index do |c,i|
      -if seleted.include?(true)
        -if c.selected == true
          %li.active
            =link_to selected_version(c.selected, i), "#v#{c.id}", :data => {:toggle => "tab"}
        -else
          %li
            =link_to selected_version(c.selected, i), "#v#{c.id}", :data => {:toggle => "tab"}

      -else
        -if i == 0
          %li.active
            =link_to selected_version(c.selected, i), "#v#{c.id}", :data => {:toggle => "tab"}
        -else
          %li
            =link_to selected_version(c.selected, i), "#v#{c.id}", :data => {:toggle => "tab"}

  .tab-content
    -copy.alternates.where(:is_duplicate => "true").each_with_index do |c,i|
      -if seleted.include?(true)
        -if c.selected == true
          %div{:class => 'tab-pane active', :id => "v#{c.id}"}
            =render partial: "admin/topics/duplicates", locals: {copy: c} 
            =render partial: "admin/topics/selected_form", locals: {copy: c}

        -else
          %div{:class => 'tab-pane', :id => "v#{c.id}"}
            =render partial: "admin/topics/duplicates", locals: {copy: c}
            =render partial: "admin/topics/selected_form", locals: {copy: c}

      -else
        -if i == 0
          %div{:class => 'tab-pane active', :id => "v#{c.id}"}
            =render partial: "admin/topics/duplicates", locals: {copy: c} 
            =render partial: "admin/topics/selected_form", locals: {copy: c}

        -else
          %div{:class => 'tab-pane', :id => "v#{c.id}"}
            =render partial: "admin/topics/duplicates", locals: {copy: c}
            =render partial: "admin/topics/selected_form", locals: {copy: c}


