:javascript
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#copy-button"))
  });

=content_for :page_title do
  %h1.page-title
    -if @topic.client
      =@topic.client.name
      \:
    =@topic.name
    
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical

        %li
          = link_to "Review Mode", "#", :id => 'review-mode'
        %li.divider-vertical
        %li
          = link_to content_tag(:i,'',:class => 'fontello-icon-download-cloud') + "XLSX", admin_topic_path(@topic, format: "xlsx")

#topic-show
  #form-remote.widget.widget-box
    .widget-content
      .widget-body
        =link_to "New Group", new_admin_topic_group_path(@topic), :class => 'pull-right btn btn-yellow pull-right btn-mini fboxForm fancybox.ajax new-groups'
        .clear-both
        -if @topic.groups.count > 0
          %ul.widget-list
            -@topic.groups.each do |group|

              %li{:id => "group-#{group.id}", :class => "group"}
                .group-name.clear-both
                  %h2
                    =group.name
                    =group.id

                    =render partial: "admin/topics/network", locals: {group: group}

                  .btn-group
                    =link_to content_tag(:i,'',:class => 'fontello-icon-pencil') + " New", new_admin_topic_group_copy_path(@topic, group), :class => "btn btn-yellow btn-mini new-copy fboxForm fancybox.ajax",:remote => true, :data => {:textarea => "copy_content", :network => "#{group.network}"}

                    =link_to content_tag(:i,'',:class => 'fontello-icon-edit') + " Edit", edit_admin_topic_group_path(@topic, group), :class => 'btn btn-sky  btn-mini fboxForm fancybox.ajax '

                    =link_to content_tag(:i,'',:class => 'fontello-icon-trash-4') +' Delete', admin_topic_group_path(@topic, group),  data: { confirm: 'Are you sure?' }, :method => :delete, :class => "btn btn-mini btn-danger"

                    = link_to content_tag(:i,'',:class => 'fontello-icon-download') + " Selected Group(s)",admin_group_path(group,format: "xlsx",:keywords_only => false), :class => 'btn btn-mini btn-green'

                
                  -if (group.network == 'Google')
                    .keywords.span3
                      %strong
                        Keywords:
                        .btn-group
                          =link_to "+ New", new_admin_keyword_path(:group_id => group.id), :class => 'btn btn-mini btn-green fboxForm fancybox.ajax '
                          = link_to content_tag(:i,'',:class => 'fontello-icon-download') + " Keywords",admin_group_path(group,format: "xlsx",:keywords_only => true), :class => 'btn btn-mini btn-green'
                          
                      -if (group.keywords.count > 0)
                        %table
                          %thead
                            %th
                              Word
                            %th
                              Is Chosen
                            %th
                              Under Review
                            
                            
                          -group.keywords.each do |keyword|
                            %tr
                              %td
                                =link_to keyword.word, edit_admin_keyword_path(keyword), :class => 'fboxForm fancybox.ajax '
                              %td
                                -if keyword.is_chosen == 1
                                  =content_tag(:span, "✓", :class =>"label label-positive")
                              %td
                                -if keyword.is_chosen != 1
                                  =content_tag(:span, "✕", :class =>"label label-negative")

                              
                            
                            


                -if (group.network == 'Google')
                  -span = "span8"
                -else
                  -span = "span11"
                  
                %div{:class => "copies #{span}"}
                
                  -if group.copies.count > 0  
                    %ul.group-copy
                      -group.copies.where(:copy_id => 0).each_with_index do |copy, index|
                        %li
                          -if copy.alternates.where(:is_duplicate => "true").count > 0
                            .col-50

                              =render partial: "admin/topics/copy", locals: {group: group, copy: copy, index: index}
                              

                            .col-50.dups
                              =render partial: "admin/topics/tabbed_versions", locals: {group: group, copy: copy, index: index}
                              %h1
                                copyid
                                =copy.copy_id
                              
                          -else

                            =render partial: "admin/topics/copy", locals: {group: group, copy: copy, index: index}

                          -if copy.alternates.where(:is_duplicate => "false").count > 0
                            %ul.alt-group-copy
                              -copy.alternates.where(:is_duplicate => "false").each do |c|
                                %li.span4
                                  =render partial: "admin/topics/alt_copy", locals: {group: group, copy: c, index: index}
                                  
                =render partial: "admin/topics/dates", locals: {group: group}

    .widget-footer
      -if @topic.reviews.length > 0 && @topic.groups.count > 0
        %h3
          Review Url

        = "#{current_environment}/reviews/#{@topic.reviews.first.url}"
        %br/
        %button{:class => "btn btn-primary", :id => "copy-button", :data => {"clipboard-text" => "#{current_environment}/reviews/#{@topic.reviews.first.url}"}, :title => "Click to copy review URL to clipboard."}
          Copy to Clipboard
      / .span4
      /   =link_to content_tag(:i,'',:class => 'fontello-icon-mail') +' Client Review', "#", :class => "btn btn-yellow send-to"

      / #send-to.span4

      /   %p
      /     Enter email address one line at a time. No commas or periods after email address.
      /     =form_tag admin_reviews_path do |f|
      /       =text_area_tag "users"
      /       =hidden_field_tag "topic_id", @topic.id
      /       =submit_tag "Send", :class =>'btn btn-primary'


        