=content_for :page_title do
  %h1.page-title
    -if @topic.client
      =@topic.client.name
      \:
    =@topic.name
    
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical

        %li
          = link_to "Edit Mode", "#", :id => 'edit-mode'
        %li.divider-vertical
        %li
          = link_to content_tag(:i,'',:class => 'fontello-icon-download-cloud') + "XLSX", admin_topic_path(@topic, format: "xlsx")

#topic-show
  #form-remote.widget.widget-box
    .widget-content
      .widget-body
        =link_to "New Group", new_admin_topic_group_path(@topic), :class => 'pull-right btn btn-yellow pull-right btn-mini fboxForm fancybox.ajax new-groups'
        .clear-both
        -if @topic.groups.count > 0

          %ul.widget-list
            -@topic.groups.each do |group|

              %li{:id => "group-#{group.id}", :class => "group"}
                .group-name.clear-both
                  %h2
                    Group:
                    =group.name
                    =render partial: "admin/topics/network", locals: {group: group}


                  .btn-group
                    =link_to content_tag(:i,'',:class => 'fontello-icon-pencil') + " New", new_admin_topic_group_copy_path(@topic, group), :class => "btn btn-yellow btn-mini new-copy fboxForm fancybox.ajax",:remote => true, :data => {:textarea => "copy_content", :network => "#{group.network}"}

                    =link_to content_tag(:i,'',:class => 'fontello-icon-edit') + " Edit", edit_admin_topic_group_path(@topic, group), :class => 'btn btn-sky  btn-mini fboxForm fancybox.ajax '

                    =link_to content_tag(:i,'',:class => 'fontello-icon-trash-4') +' Delete', admin_topic_group_path(@topic, group), :comfirm => "Are you sure?", :method => :delete, :class => "btn btn-mini btn-danger"

                
                  -if (group.network == 'Google')
                    .keywords.span3
                      %strong
                        Keywords:
                      =simple_format group.keywords

                -if (group.network == 'Google')
                  -span = "span8"
                -else
                  -span = "span11"
                  
                %div{:class => "copies #{span}"}
                
                  -if group.copies.count > 0  
                    %strong
                      Copy:
                    %ul.group-copy
                      -group.copies.where(:copy_id => 0).each_with_index do |copy, index|
                        %li
                          -if copy.alternates.where(:is_duplicate => "true").count > 0
                            .col-50

                              =render partial: "admin/topics/copy", locals: {group: group, copy: copy, index: index}
                              

                            .col-50.dups
                              =render partial: "admin/topics/tabbed_versions", locals: {group: group, copy: copy, index: index}
                              
                          -else

                            =render partial: "admin/topics/copy", locals: {group: group, copy: copy, index: index}

                          -if copy.alternates.where(:is_duplicate => "false").count > 0
                            %ul.alt-group-copy
                              -copy.alternates.where(:is_duplicate => "false").each do |c|
                                %li.span4
                                  =render partial: "admin/topics/alt_copy", locals: {group: group, copy: c, index: index}
                                  
                =render partial: "admin/topics/dates", locals: {group: group}

    .widget-footer
      .span4
        =link_to content_tag(:i,'',:class => 'fontello-icon-mail') +' Client Review', "#", :class => "btn btn-yellow send-to"

      #send-to.span4
        %p
          Enter email address one line at a time. No commas or periods after email address.
          =form_tag admin_reviews_path do |f|
            =text_area_tag "users"
            =hidden_field_tag "topic_id", @topic.id
            =submit_tag "Send", :class =>'btn btn-primary'


        