-if @page
	-@sections.where(:parent_id => s.id).order('position ASC').each do |s|
		%li
			%a{:href => "##{s.section_type}-#{s.id}"} 
				=s.tab
	
-if @publication
	-@sections.where(:parent_id => s.id).order('position ASC').each do |s|
		%li
			%a{:href => "##{s.section_type}-#{s.id}"} 
				=s.tab

		
		
-if @footer
	-@footer.where(:parent_id => s.id).order('position ASC').each do |s|
		%li
			%a{:href => "##{s.section_type}-#{s.id}"} 
				=s.tab
		