-if @page
	-@sections.where(:parent_id => s.id).order('position ASC').each do |s|
		%h3
			%a{:href => "#"} 
				=s.tab
	
		%section{:class => "sec-#{s.id}  pg-#{s.page_id} loc-#{s.location} parent-#{s.parent_id} pos-#{s.position}"}
			%div{:id => "#{s.section_type}-#{s.id}"}
				=render 'site/sub_section', :s => s	
				.clear-both
				
-if @publication
	-@sections.where(:parent_id => s.id).order('position ASC').each do |s|
		%h3
			%a{:href => "#"} 
				=s.tab
	
		%section{:class => "sec-#{s.id}  pg-#{s.page_id} loc-#{s.location} parent-#{s.parent_id} pos-#{s.position}"}
			%div{:id => "#{s.section_type}-#{s.id}"}
				=render 'site/sub_section', :s => s	
				.clear-both
				
				
-if @footer
	-@footer.where(:parent_id => s.id).order('position ASC').each do |s|
		%h3
			%a{:href => "#"} 
				=s.tab
	
		%section{:class => "sec-#{s.id}  pg-#{s.page_id} loc-#{s.location} parent-#{s.parent_id} pos-#{s.position}"}
			%div{:id => "#{s.section_type}-#{s.id}"}
				=render 'site/sub_section', :s => s	
				.clear-both