-navigation_id = s.navigation_group.navigation_id

-navigation = Page.where(:navigation_id => navigation_id, :published => true).order(:position)
-j = 1

%ul{:class => "navigation-group  #{s.navigation_group.orientation}"}
	-page_count = 0
	-navigation.each do |p|
		-if p.parent_id == 0
			-page_count = page_count + 1
			
	-navigation.each do |p|
		-if p.parent_id == 0
			-class_name = "first page-#{p.id}" if j == 1
			-class_name = "last page-#{p.id}" if j == page_count
			-class_name = "page-#{p.id}" if page_count == 1
			-j += 1
		  		
			%li{:class => "#{class_name}"}
				-if params[:url_path].nil?
					-path = ' '
				-else
					-path = params[:url_path].split('/').last
					
				=link_to p.title, "/#{p.url_path}", :class => public_current_class(path , p.url_path)
				=sub_nav(navigation, p.id,p.url_path,p.navigation_id,1)
%div{:class => 'clear-both'}
