
-if @topic
  #topic-show.front-end
    #form-remote.widget.widget-box
      .widget-header
        -if @topic.client.can_edit
          = link_to "Edit Mode", "#", :id => 'edit-mode', :class => "pull-right"
        %h1
          -if @topic.client
            =@topic.client.name
            \:
          =@topic.name
      .widget-content
        .widget-body
          =render partial: "topic", locals: {topic: @topic}


-else
  #topic-show.front-end
    #form-remote.widget.widget-box
      .widget-header
        = link_to "Edit Mode", "#", :id => 'edit-mode', :class => "pull-right"
        %h1
          -if @client
            =@client.name
      .widget-content
        .widget-body
          -if @review.topics.count > 1
            %ul.nav.nav-tabs
              -@review.topics.each_with_index do |topic,i|
                -if i == 0
                  -active = "active"

                -else
                  -active = ""

                %li{:class => active}
                  %a{:href => "#topic-#{topic.id}", :data => {:toggle => "tab"}}
                    =topic.name

            .tab-content
              -@review.topics.each_with_index do |topic,i|
                -if i == 0
                  -active = "active"

                -else
                  -active = ""

                %div{:class => "tab-pane #{active}", :id => "topic-#{topic.id}"}
                  =render partial: "topic", locals: {topic: topic}

          -else
            -@review.topics.each do |topic|
              =render partial: "topic", locals: {topic: topic}